<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deleting Task</title>
    <meta charset="utf-8">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/menu/css/simple_menu.css">
    <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen">
    <!-- JS Files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/slides/slides.min.jquery.js"></script>
    <script src="/js/cycle-slider/cycle.js"></script>
    <script src="/js/nivo-slider/jquery.nivo.slider.js"></script>
    <script src="/js/tabify/jquery.tabify.js"></script>
    <script src="/js/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script src="/js/twitter/jquery.tweet.js"></script>
    <script src="/js/scrolltop/scrolltopcontrol.js"></script>
    <script src="/js/portfolio/filterable.js"></script>
    <script src="/js/modernizr/modernizr-2.0.3.js"></script>
    <script src="/js/easing/jquery.easing.1.3.js"></script>
    <script src="/js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
    <script src="/js/swfobject/swfobject.js"></script>
    <!-- FancyBox -->
    <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css" media="all">
    <script src="/js/fancybox/jquery.fancybox-1.2.1.js"></script>
</head>
<body>
<div class="header">
    <div id="site_title"><a th:href="@{/employees/home}"><img src="/img/logo.png" alt=""></a></div>
    <!-- Main Menu -->
    <ol id="menu">
        <li class="active_menu_item"><a th:href="@{/employees/home}">Home</a></li>
        <!-- END sub menu -->
        <li><a href="#">Pages</a>
            <!-- sub menu -->
            <ol>
                <li><a th:href="@{/employees/home}">Home</a></li>
                <li><a th:href="@{/employees/view}">Employees</a></li>
                <li><a href="https://github.com/Coptopus">My GitHub</a></li>
                <li><a th:href="@{/employees/contact}">Contact Us</a></li>
            </ol>
        </li>
        <!-- END sub menu -->
        <li><a th:href="@{/employees/contact}">Contact</a></li>
    </ol>
</div>
<!-- END header -->
<div id="container">
    <h2>ATTENTION</h2>
    <h3>You're now deleting this record</h3>
    <ul>
        <li style="font-weight: bold; font-size: 20px" th:inline="text">[[${task.getId()}]]</li>
        <li style="font-size: 20px" th:inline="text">[[${task.getTitle()}]]</li>
        <li style="font-size: 20px" th:inline="text">[[${task.getDescription()}]]</li>
        <li style="font-size: 20px" th:inline="text">[[${task.getLocation()}]]</li>
        <li th:if="${task.getEmployee() != null}" style="font-size: 20px" th:inline="text"><a th:href="@{/employees/view/{id}(id = ${task.getEmployee().id_employee})}">[[${task?.getEmployee().name}]]</a></li>
        <li th:if="${task.getEmployee() == null}" style="font-size: 20px" th:inline="text">Unassigned</li>
    </ul>
    <div style="clear:both; height: 40px"></div>
    <h3>Do you really wish to proceed? (This can't be undone)</h3>
    <form action="#" th:action="@{/tasks/delete/{id}(id=${task.getId()})}" method="post">
        <button class="button" style="font-size: 20px" type="submit">Yes</button>
        <a href="/tasks/view"><button class="button" style="font-size: 20px" type="button">No</button></a>
    </form>
    <div style="clear:both; height: 40px"></div>
</div>
<!-- close container -->
<div id="footer">
    <!-- First Column -->
    <div class="one-fourth">
        <h3>Useful Links</h3>
        <ul class="footer_links">
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Ellem Ciet</a></li>
            <li><a href="#">Currivitas</a></li>
            <li><a href="#">Salim Aritu</a></li>
        </ul>
    </div>
    <!-- Second Column -->
    <div class="one-fourth">
        <h3>Terms</h3>
        <ul class="footer_links">
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Ellem Ciet</a></li>
            <li><a href="#">Currivitas</a></li>
            <li><a href="#">Salim Aritu</a></li>
        </ul>
    </div>
    <!-- Third Column -->
    <div class="one-fourth">
        <h3>Information</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
        <div id="social_icons"> Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br>
            Photos © <a href="http://dieterschneider.net">Dieter Schneider</a> </div>
    </div>
    <!-- Fourth Column -->
    <div class="one-fourth last">
        <h3>Socialize</h3>
        <img src="/img/icon_fb.png" alt=""> <img src="/img/icon_twitter.png" alt=""> <img src="/img/icon_in.png" alt=""> </div>
    <div style="clear:both"></div>
</div>
<!-- END footer -->
</body>
</html>